.menu-inspect {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    padding-inline: 20%;

    .voceMenu {
        width: auto !important;
    }

    .voceMenuText  {
        width: auto !important;
    }
}

.floating-back {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 25%;
}

.metrics-button {
    left: 58%;
    cursor: pointer;
}

.smells-button{
    left: 90%;
    cursor: pointer;
}

.form-request {
    width: 42%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
    align-items: center;
    justify-content: center;

    input {
        border-radius: 5px;
        width: 400px;
        height: 40px;
        padding-inline: 5px;
        font-size: large;
    }
}

.horizontal-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    button {
        width: 95px;
        font-size: medium;
    }
} 

.div-input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    -webkit-box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.56);
    padding: 35px;
    border-radius: 5px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 440px;
    
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    button {
        margin: 0;
    }
}

.modal-dialog {
    top: 50px;
}

.vertical-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 10px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .voceMenu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px;
        text-decoration: none;
        color: black;
        height: 300px;
        width: 300;
        justify-content: center;
        align-items: center;
        font-size: medium;
        font-weight: 600;
    }
}

.flex-col {
    justify-content: center;
    gap: 40px;

    div {
        text-align: center;
        color: #00979B;
        margin-top: 20px;

        label {
            color: black;
        }

        svg {
            color: #00979B;
            fill: #00979B;
        }
    }
}

.overlay {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 8px;
}

.transparent-table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

.transparent-table th,
.transparent-table td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
}

.author-button {
    top: unset;
    bottom: 40px;
    left: 54%;
    background-color: #f0f0f0;
    color: #00979B;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: large;
    font-weight: 600;
}
